.root .appbody{
    background-color: #0f0f0f;
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;
    font-family: 'Courier New', Courier, monospace; 
}


.root .handle{
    background-color: rgb(41, 41, 41);
}

.root .handle button{
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.root input{
    background-color: transparent;
    width: 98%;
    border: 1px solid rgba(255, 255, 255, 0.192);
    outline: none;
    color: white;    
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.root .items{
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #a4a4a45e transparent;
    display: flex;
    flex-direction: column;
    background-color: #0f0f0f;
}

.root .history{
    max-width: 100%;
    display: block;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}


